@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>
<!-- Jumbotron -->
@{
    if (@ViewBag.Setsession != null)
    {

        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4">Welcome to our Shrestha Electronic Store</h1>
                <p class="lead">Explore the latest electronic devices at great prices.</p>
                <a asp-controller="Products" asp-action="Index" class="btn btn-primary btn-lg"  role="button">View Products</a>
            </div>
        </div>

        <!-- Featured Products -->
        <div class="container mt-5">
            <h2 class="text-center mb-4">Featured Products</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Products/Acer Aspire 5.jpg" alt="Product 1">
                        <div class="card-body">
                            <h5 class="card-title">Acer Aspire 5 </h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                </div>
                                <small class="text-muted">Rs15000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Products/acernitro5.jpg" alt="Product 2">
                        <div class="card-body">
                            <h5 class="card-title">Acer Nitro 5</h5>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                </div>
                                <small class="text-muted">Rs 150000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Products/dellinspiron3502.jpg" alt="Product 3">
                        <div class="card-body">
                            <h5 class="card-title">Dell Inspiron 3502</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                </div>
                                <small class="text-muted">Rs 100000</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <script>
            window.location.href = '/Home/Login';
        </script>
        
    }
    }


